<!doctype html>
<html>
<head>
  <title>auth | wallaby</title>
  <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <script type="text/javascript">
    const token = "{{ token }}"
    const username = "{{ username }}"
    const provider = "{{ provider }}"
    const referer = "{{ referer }}"
    if (window.opener) {
      window.opener.postMessage({ token, username, provider }, referer)
    }
  </script>
</head>
<body>
  <h1>success!</h1>
  <p>
    this window should be closed automatically, and you should be redirected
    back to <a href="{{ referer }}">{{ referer }}</a>.
  </p>
</body>
</html>
